*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boss{
    display: flex;
    flex-wrap: wrap;
    border: 20px solid black;
    width: 600px;
    margin: 0 auto;
    
}
.w{
    background-color: #F4ECD5;
    width: 70px;
    height: 70px
    
}
.b{
    background-color: black;
    width: 70px;
    height: 70px
}
